<h1>{{model.fullName}}</h1>
<h3>Biography</h3>
{{#if model.photo}}
    <img src="{{model.photo}}" alt="{{model.fullName}}" class="author-pic">
    {{else}}
         <img src="https://i2.wp.com/nigeriahealthcareawards.com.ng/wp-content/uploads/2018/01/avatar-1577909_960_720.png" alt="{{author.name}}" width="100px">
{{/if}}
<p>{{model.bio}}</p>

<h3>Blogs</h3>
{{#each model.blog as |blog|}}
<li>{{#link-to 'blogs.detail' blog.id}}{{blog.title}}{{/link-to}}</li>
{{/each}}